/* Pagination */
.pagination{
    padding: 10px 0;
    display: flex;
    justify-content: flex-end;

    /* Pagination Nav */
    .page__nav{
        margin-left: 10px;
        transition: 0.3s ease all;
        font: {
            weight: 700;
        }
        &:hover{
            color: $orange;
        }
    }
}