/* Search Input */
.search__input{
    background: white;
    padding: 10px 10px;

    /* Icon */
    svg{
        color: $orange;
        vertical-align: middle;
        font: {
            size: 130%;
        }
    }

    /* Input */
    input{
        background: transparent;
        padding: 0px 5px;
        border: none;
        appearance: none;
        box-shadow: none;
        outline: none;
        &:focus{
            border: none;
            outline: none;
        }
        &::placeholder{
            color: $grayDark;
        }
    }
}