/* User Row */
.user__row{
    padding: 10px 20px;
    
    /* User Info */
    .user__info{
        width: $userInfoWidth;
        position: relative;
        border-bottom: 1px solid $borderColor;
        padding: 10px 20px 20px 20px;
        &:hover{
            .user__delete{
                visibility: visible;
                opacity: 1;
                bottom: 20px;
            }
        }
    }

    /* User Description */
    .user__description{
        @extend .user__info;
        width: 100 - $userInfoWidth;
    }
}