/* Avatar */
.user__avatar{
    width: $avatarSize;
    height: $avatarSize;
    border-radius: 200px;
    overflow: hidden;
    vertical-align: middle;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 10px 0 0;
    /* IMG */
    img{
        width: $avatarSize * 2;
        height: auto;
    }
}