/* Buttons Base Style */
.button{
    background-color: $orange;
    border: none;
    outline: none;
    appearance: none;
    padding: 8px 20px;
    transition: 0.3s ease all;
    border: none;
    box-shadow: none;
    appearance: none;
    cursor: pointer;
    border-radius: 2px;
    display: flex;
    align-items: center;

    /* States */
    &:hover{
        background-color: darken($orange, 20%);
    }

    /* No Background */
    &.nobg{
        background: transparent;
    }

    /* No Padding */
    &.nopad{
        padding: 0;
    }

    /* Icon */
    svg{
        margin-right: 5px;
    }

    /* Icon Position */
    &.icon{
        &-right{
            display: flex;
            flex-direction: row-reverse;
            svg{
                margin-right: 0px;
                margin-left: 5px;
            }
        }
    }
}