/* Inputs */
input.users-list__input{
    border: 2px solid $grayMedium;
    padding: 10px 5px;
    box-sizing: border-box;

    &:focus{
        appearance: none;
        outline: none;
        box-shadow: none;
        border: 2px solid $grayMedium;
    }

    /* Placeholder */
    &::placeholder{
        color: $grayLight;
        color: red;
    }
}

/* Textarea */
textarea{
    resize: none;
    border: 2px solid $grayMedium;
    width: 100%;
    max-width: 100%;
    height: 80px;
    max-height: 80px;

    &:focus {
        appearance: none;
        outline: none;
        box-shadow: none;
        border: 2px solid $grayMedium;
    }
}