/* User Name */
.user__delete{
    position: absolute;
    bottom: 30px;
    left: $avatarSize + 30px;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease all;
    cursor: pointer;
    font: {
        size: 80%;
    }
    color: $orange;
}