html, body{
    margin: 0;
    background: {
        color: #e5e5e5;
    }
    color: $grayDark;
}

html{
    font: {
        size: 62.5%;
    }
}

body{
    font: {
        family: 'Helvetica', 'Arial', sans-serif;
        size: 12px;
    }    
}