/* Forms */
form{
    padding: 10px 20px;

    /* Form Section */
    .form__section{
        width: 100%;
        margin-bottom: 20px;
        box-sizing: border-box;

        &:last-child{
            margin-bottom: 0;
        }

        /* Labels */
        label{
            width: 100%;
            font: {
                weight: 700;
            }
        }

        /* Input */
        input{
            width: 100%;
        }

        /* Textarea */
        textarea{
            width: 100%;
        }
    }   
}