.modal__window{
    display: none;

    /* Modal is visible */
    &.active{
        display: flex;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;
        background-color: rgba(0,0,0,0.5);
        z-index: 1000;
    }

    /* Modal Dialog */
    .modal__dialog{
        background: {
            color: $grayLight;
        }
        /* Modal Header */
        .modal__header{
            background: {
                color: white;
            }
            border-bottom: 2px solid $grayMedium;
            /* Modal Title */
            .modal__title{
                margin:0;
                padding: 20px 20px;
                line-height: 100%;
                text-align: left;
                color: $grayDark;
                width: 100%;
                font: {
                    size: 120%;
                }
            }
        }
        /* Modal Content */
        .modal__content{
        }
        /* Modal Controls */
        .modal__controls{
            text-align: center;
            display: flex;
            justify-content: center;
            padding: 20px 20px;
        }

        /* Feedback */
        .modal__feedback{
            width: 100%;
            padding:0 20px;
            box-sizing: border-box;
            text-align: center;

            /* Messages */
            .feedback__message{

                /* Success */
                &-success{
                    color: green;
                }
            }
        }
    }
}