/* Users Table */
.users__table{    
    
    /* Table */
    table{
        background: white;
        border-collapse: collapse;
        box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
        
        /* Header */
        thead{
            box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
            overflow-x: hidden;
            overflow-y: visible;
            th {
                padding: 10px 20px;
                text-align: left;
                border-bottom: 1px solid $borderColor;
            }
        }

        /* Body */
        tbody{
            tr{
                transition: 0.3s ease all;
                &:hover{
                    background: {
                        color: $grayLight;
                    }
                }
                td{
                    border-right: 1px solid $borderColor;
                    &:last-child{
                        border-right: none;
                    }
                }
            }
        }
    }
}