/* Atoms */
@import 'atoms/vars';
@import 'atoms/texts';
@import 'atoms/inputs';
@import 'atoms/Button';
@import 'atoms/Avatar';
@import 'atoms/UserName';
@import 'atoms/UserDelete';

/* Molecule */
@import 'molecules/SearchInput';
@import 'molecules/UserRow';
@import 'molecules/Pagination';

/* Organisms */
@import 'organisms/Modals';
@import 'organisms/Forms';
@import 'organisms/DashboardHeader';
@import 'organisms/UsersTable';

/* Templates */
@import 'templates/General';

html,
body {
    margin: 0;
}

html {
    font: {
        family: 'Helvetica', 'Arial', sans-serif;
    }
}

/* App */
.App{
    width: 70%;
    margin: 0 auto;
}