/* Atoms */
/* Table */
/* Sizes */
/* Texts Colors */
.text--color-gray {
  color: #6b6e70; }

.text--color-white {
  color: white; }

.text--color-orange {
  color: #f8b34a; }

/* Inputs */
input.users-list__input {
  border: 2px solid #f0f0f0;
  padding: 10px 5px;
  box-sizing: border-box;
  /* Placeholder */ }
  input.users-list__input:focus {
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 2px solid #f0f0f0; }
  input.users-list__input::placeholder {
    color: #f9f9f9;
    color: red; }

/* Textarea */
textarea {
  resize: none;
  border: 2px solid #f0f0f0;
  width: 100%;
  max-width: 100%;
  height: 80px;
  max-height: 80px; }
  textarea:focus {
    appearance: none;
    outline: none;
    box-shadow: none;
    border: 2px solid #f0f0f0; }

/* Buttons Base Style */
.button {
  background-color: #f8b34a;
  border: none;
  outline: none;
  appearance: none;
  padding: 8px 20px;
  transition: 0.3s ease all;
  border: none;
  box-shadow: none;
  appearance: none;
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  align-items: center;
  /* States */
  /* No Background */
  /* No Padding */
  /* Icon */
  /* Icon Position */ }
  .button:hover {
    background-color: #d48308; }
  .button.nobg {
    background: transparent; }
  .button.nopad {
    padding: 0; }
  .button svg {
    margin-right: 5px; }
  .button.icon-right {
    display: flex;
    flex-direction: row-reverse; }
    .button.icon-right svg {
      margin-right: 0px;
      margin-left: 5px; }

/* Avatar */
.user__avatar {
  width: 50px;
  height: 50px;
  border-radius: 200px;
  overflow: hidden;
  vertical-align: middle;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px 0 0;
  /* IMG */ }
  .user__avatar img {
    width: 100px;
    height: auto; }

/* User Name */
.user__name {
  margin: 0;
  line-height: 100%;
  width: auto;
  display: inline-block; }

/* User Name */
.user__delete {
  position: absolute;
  bottom: 30px;
  left: 80px;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s ease all;
  cursor: pointer;
  font-size: 80%;
  color: #f8b34a; }

/* Molecule */
/* Search Input */
.search__input {
  background: white;
  padding: 10px 10px;
  /* Icon */
  /* Input */ }
  .search__input svg {
    color: #f8b34a;
    vertical-align: middle;
    font-size: 130%; }
  .search__input input {
    background: transparent;
    padding: 0px 5px;
    border: none;
    appearance: none;
    box-shadow: none;
    outline: none; }
    .search__input input:focus {
      border: none;
      outline: none; }
    .search__input input::placeholder {
      color: #6b6e70; }

/* User Row */
.user__row {
  padding: 10px 20px;
  /* User Info */
  /* User Description */ }
  .user__row .user__info, .user__row .user__description {
    width: 30%;
    position: relative;
    border-bottom: 1px solid #f0f0f0;
    padding: 10px 20px 20px 20px; }
    .user__row .user__info:hover .user__delete, .user__row .user__description:hover .user__delete {
      visibility: visible;
      opacity: 1;
      bottom: 20px; }
  .user__row .user__description {
    width: 70%; }

/* Pagination */
.pagination {
  padding: 10px 0;
  display: flex;
  justify-content: flex-end;
  /* Pagination Nav */ }
  .pagination .page__nav {
    margin-left: 10px;
    transition: 0.3s ease all;
    font-weight: 700; }
    .pagination .page__nav:hover {
      color: #f8b34a; }

/* Organisms */
.modal__window {
  display: none;
  /* Modal is visible */
  /* Modal Dialog */ }
  .modal__window.active {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; }
  .modal__window .modal__dialog {
    background-color: #f9f9f9;
    /* Modal Header */
    /* Modal Content */
    /* Modal Controls */
    /* Feedback */ }
    .modal__window .modal__dialog .modal__header {
      background-color: white;
      border-bottom: 2px solid #f0f0f0;
      /* Modal Title */ }
      .modal__window .modal__dialog .modal__header .modal__title {
        margin: 0;
        padding: 20px 20px;
        line-height: 100%;
        text-align: left;
        color: #6b6e70;
        width: 100%;
        font-size: 120%; }
    .modal__window .modal__dialog .modal__controls {
      text-align: center;
      display: flex;
      justify-content: center;
      padding: 20px 20px; }
    .modal__window .modal__dialog .modal__feedback {
      width: 100%;
      padding: 0 20px;
      box-sizing: border-box;
      text-align: center;
      /* Messages */ }
      .modal__window .modal__dialog .modal__feedback .feedback__message {
        /* Success */ }
        .modal__window .modal__dialog .modal__feedback .feedback__message-success {
          color: green; }

/* Forms */
form {
  padding: 10px 20px;
  /* Form Section */ }
  form .form__section {
    width: 100%;
    margin-bottom: 20px;
    box-sizing: border-box;
    /* Labels */
    /* Input */
    /* Textarea */ }
    form .form__section:last-child {
      margin-bottom: 0; }
    form .form__section label {
      width: 100%;
      font-weight: 700; }
    form .form__section input {
      width: 100%; }
    form .form__section textarea {
      width: 100%; }

/* Dashboard Header */
.dashboard__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0; }

/* Users Table */
.users__table {
  /* Table */ }
  .users__table table {
    background: white;
    border-collapse: collapse;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    /* Header */
    /* Body */ }
    .users__table table thead {
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
      overflow-x: hidden;
      overflow-y: visible; }
      .users__table table thead th {
        padding: 10px 20px;
        text-align: left;
        border-bottom: 1px solid #f0f0f0; }
    .users__table table tbody tr {
      transition: 0.3s ease all; }
      .users__table table tbody tr:hover {
        background-color: #f9f9f9; }
      .users__table table tbody tr td {
        border-right: 1px solid #f0f0f0; }
        .users__table table tbody tr td:last-child {
          border-right: none; }

/* Templates */
html, body {
  margin: 0;
  background-color: #e5e5e5;
  color: #6b6e70; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 12px; }

html,
body {
  margin: 0; }

html {
  font-family: 'Helvetica', 'Arial', sans-serif; }

/* App */
.App {
  width: 70%;
  margin: 0 auto; }

/*# sourceMappingURL=App.css.map */
