.modal__window {
  display: none;
  /* Modal is visible */
  /* Modal Dialog */ }
  .modal__window.active {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; }
  .modal__window .modal__dialog {
    /* Modal Content */
    /* Modal Controls */ }
    .modal__window .modal__dialog .modal__controls {
      text-align: center; }

/*# sourceMappingURL=ModalAddUser.css.map */
